[submodule "engine/core/library/glfw"]
	path = engine/core/library/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/editor/library/imgui"]
	path = engine/editor/library/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "engine/graphics/library/slang-rhi"]
	path = engine/graphics/library/slang-rhi
	url = https://github.com/Kaoru-misono/slang-rhi.git
[submodule "engine/core/library/json"]
	path = engine/core/library/json
	url = https://github.com/nlohmann/json.git
